.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    

}


.movie-container {
    color: white;
    box-shadow: 0.2px 4px 5px rgba(255, 255, 255, .1);
    border-radius: 3px;
    width: 230px;
    height: 320px;
    margin: 1rem;
    overflow: hidden;
    &:hover .overview{
        position: relative;
        animation-name: moveup;
        animation-duration: 0.8s;
        transform: translateY(-100%);
        opacity: 1;
    }
    

    img {
        width: 230px;
        height: 250px;
    }

    .movie-info {
        margin-top: 15px;
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem 0 0.5rem;
        padding-bottom: 30px;
        
        .movie-title {
            // background-color: green;
            width: 180px;
        }
        .rating {
            color: rgb(91, 219, 91);
            font-weight: bold;
        }

    }

    .overview {
        background-color: white;
        color: black;
        width: 230px;
        opacity: 1;
        padding: 1rem;
        
    }

    @keyframes moveup {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-101%);
        }
    }

    
}
