.movie-genre {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0 20px 0;
    h3 {
        color: white;
        
    }
}


.movie-container {
    color: white;
    margin-left: 20px;
    box-shadow: 0.2px 4px 5px rgba(255, 255, 255, .1);
    border-radius: 3px;
    width: 230px;
    margin-bottom: 20px;
    position: absolute;

    &:hover .overview{
        animation-name: moveup;
        animation-duration: 1s;
        transform: translateY(230%);
        opacity: 1;
    }
    

    img {
        width: 230px;
        height: 250px;
    }

    .movie-info {
        margin-top: 20px;
        width: 230px;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        padding: 0 0.5rem 0 0.5rem;
        padding-bottom: 20px;
        .rating {
            color: rgb(91, 219, 91);
        }

    }

    .overview {
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        color: black;
        width: 230px;
        opacity: 0;
        
    }

    @keyframes moveup {
        0% {
            transform: translateY(300%);
        }

        100% {
            transform: translateY(230%);
        }
    }

    
}
