.navbar {
    background-color: $secondaryBlack;
    display: flex;
    justify-content: space-between;
    color: $fontWhite;
    z-index: 999;
    position: fixed;
    width: 100%;
    .logo {
        display: flex;
        
        .logo-img {
            @include dimensions(3rem, 3rem);
            margin: 5px 0 0 5px;
        }
        .logo-name {
            margin: 0.90em 0.5em 0 0.5em;
        }
    }
    
    .menu-and-search {
        display: flex;
        justify-content: space-between;

        .menu-list {
            @include flexAlignment(flex, space-between, center);
            width: 100%;
            li a {
                color: $fontWhite;
            }
        }
        
        #searchbox {
            color: black;
            margin: 1em 0.5em 1em 1em;
            padding-left: 10px;
            border-radius: 50px;
            height: 30px;
            border: 2px solid rgba(0,0,0,0.1);
            background-color: $fontWhite;
        }

    }
}

