.navbar {
    background-color: $secondaryBlack;
    display: flex;
    justify-content: space-between;
    color: $fontWhite;
    z-index: 999;
    .logo {
        display: flex;
        
        .logo-img {
            width: 3rem;
            height: 3.3rem;
            margin-left: 1em;
        }
        .logo-name {
            margin: 1em 0.5em;
        }
    }
    
    .menu-and-search {
        display: flex;
        justify-content: space-between;

        .menu-list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 7em;
            list-style: none;
            li a {
                color: $fontWhite;
                text-decoration: none;
            }
        }
        #searchbox {
            color: $fontWhite;
            margin: 1rem 0.5rem 1rem 1rem;
            padding-left: 10px;
            border-radius: 50px;
            border: 2px solid rgba(0,0,0,0.1);
            background-color: $primaryBlack;
        }

    }
}

