* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #131313;
}

.navbar {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  z-index: 999;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .logo .logo-img {
  width: 100px;
  height: 60px;
  margin-left: 1rem;
}

.navbar .logo .logo-name {
  margin: 1rem 0.5rem;
}

.navbar .menu-and-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .menu-and-search .menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 7em;
  list-style: none;
}

.navbar .menu-and-search .menu-list li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar .menu-and-search .searchbox {
  color: #ffffff;
  margin: 1rem 0.5rem 1rem 1rem;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background-color: #131313;
}

.feature-movie-container .feature-movie-img img {
  width: 88em;
  height: 30em;
}

.feature-movie-container .feature-movie-description {
  margin: 1rem 3rem;
  position: absolute;
  top: 13rem;
}

.feature-movie-container .feature-movie-description p {
  width: 15em;
}

.feature-movie-container .feature-movie-description button {
  background-color: #bb0505;
  color: #ffffff;
  border-radius: 5px;
  width: 10em;
  height: 2em;
}

.feature-movie-container .feature-movie-description span {
  color: #037503;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-container {
  color: white;
  -webkit-box-shadow: 0.2px 4px 5px rgba(255, 255, 255, 0.1);
          box-shadow: 0.2px 4px 5px rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  width: 230px;
  height: 315px;
  margin: 1rem;
  overflow: hidden;
}

.movie-container:hover .overview {
  position: relative;
  -webkit-animation-name: moveup;
          animation-name: moveup;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 1;
}

.movie-container img {
  width: 230px;
  height: 250px;
}

.movie-container .movie-info {
  margin-top: 20px;
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
  padding: 0 0.5rem 0 0.5rem;
  padding-bottom: 20px;
}

.movie-container .movie-info .rating {
  color: #5bdb5b;
}

.movie-container .overview {
  background-color: white;
  color: black;
  width: 230px;
  opacity: 1;
}

@-webkit-keyframes moveup {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}

@keyframes moveup {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-101%);
            transform: translateY(-101%);
  }
}
/*# sourceMappingURL=style.css.map */