
.action-movie-container{
    color: #FFFFFF;
    .action-movies {
        display: flex;
        overflow-x: auto;
        margin: 0 2px 0, 2px;
        border: 2px solid #ddd;
        
        &::-webkit-scrollbar {
            width: 0;
        }
        
        h3 {
            color: white;
        }
        .action-movies-template {
            
        
        }
    }
}
